.container {
  display: flex;
  height: 100vh;
}

.content {
  margin-top: 10vh;
  width: 100vw;
  background-color: #F3F3F3;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
