.layoutContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(44, 44, 44, 0.1);
  padding: 0 20px;
  flex-shrink: 0;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000 !important;
}

.brandName {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.pageTitle {
  margin: 0 200px;
  font-size: 20px;
  color: #333;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 20px;
}

.searchBar input {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 15px;
  outline: none;
  font-size: 14px;
}

.notificationIcon {
  font-size: 20px;
  color: #133856;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgba(111, 111, 111, 0.1);
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid rgba(68, 68, 68, 0.3);
}

.avatar {
  border-radius: 50%;
}

.userInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.data {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.username {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
}

.bodyContainer {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  width: 250px;
  background: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  overflow: hidden;
}

.navList {
  list-style: none;
  margin: 0;
  margin-bottom: 3%;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navList li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 16px;
  color: #000;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 5px 10px;
  position: relative;
}

.icon {
  font-size: 18px;
}

.navList li:hover {
  background-color: #133856e0;
  color: #f8ffff !important;
}

.active {
  background-color: #133856;
  color: #f8ffff !important;
  position: relative;
  transition: 0.1s ease-in-out;
}

.active::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 40%;
  background-color: #133856;
  border-radius: 4px;
}

.mainContent {
  flex: 1;
  background: #f3f3f3;
  overflow: auto;
  padding: 20px;
}

.profileImage {
  border-radius: 50%;
  margin-right: 8px;
  object-fit: cover;
}
