.googleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: transparent;
  border: 2px solid #133856;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  width: 100%;
  margin-bottom: 20px;
}

.googleButton:hover {
  background-color: #133856;
  color: #f8ffff;
}

.googleIcon {
  width: 20px;
  height: 20px;
}
