.container {
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Inter', sans-serif;
}

.table thead {
  background-color: #F1F5F9;
}

.table th,
.table td {
  padding: 16px;
  text-align: left;
}

.table tbody tr {
  background-color: #fff;
  transition: background-color .15s;
  cursor: pointer;
}

.table tbody tr + tr {
  border-top: 1px solid #ECECEC;
}

.table tbody tr:hover {
  background-color: #F7FAFC;
}

.actions {
  display: flex;
  gap: 8px;
}

.actions button {
  background: #fff;
  border: 1px solid #E2E8F0;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .2s;
}

.actions button:hover {
  background-color: #EDF2F7;
}

.actions button:last-child {
  color: #E53E3E;
}

.chipsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.chip {
  background-color: #F0F0F0;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.8rem;
  color: #333;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: -20px 0 10px 0;
}

.filterIconContainer {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #979797;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
  background-color: #F9F9FB;
}

.addIconContainer {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 40px;
  border: 1px solid #979797;
  border-radius: 4px;
  cursor: pointer;
  background-color: #F9F9FB;
  color: #0020B0;
}
