.base {
  width: 100%;
  font-size: 1rem;
  background-color: #133856;
  color: #f8ffff;
  border: 2px solid transparent;
  padding: 0.375rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.base:hover {
  background-color: transparent;
  border-color: #133856;
  color: #133856;
}
