.wrapper {
  display: flex;
  flex-direction: column;
}

.center {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerError {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #dc2626;
  font-size: 1.25rem;
}

.content {
  width: 100%;
  max-width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0;
}

.mainArea {
  position: relative;
}
