.bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #0070f3;
  animation: loading 1s ease-out infinite;
  z-index: 9999;
}

@keyframes loading {
  0%   { transform: translateX(-100%); }
  50%  { transform: translateX(0%); }
  100% { transform: translateX(100%); }
}
